<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <!-- подгружаем статические ресурсы из папки static -->
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Музыкальные альбомы</title>
    <!-- указываем пути к ресурсу из папки static -->
    <link rel="icon" href="{% static 'favicon.svg' %}" type="image/svg+xml" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <!-- подключаем bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
    <!-- указываем пути к ресурсу из папки static -->
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>

  <body class="d-flex flex-column vh-100">
 
    <div class="flex-grow-1 d-flex flex-column align-items-center justify-content-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-md-10">
            <div class="card shadow text-center overflow-hidden">
              <div class="card-header">
                <div class="mb-2">Музыкальные альбомы</div>
                
                <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                  <li class="nav-item" role="presentation">
                    <button class="nav-link {% if tab_index == "0" %} active {% endif %}" id="input-tab" data-bs-toggle="tab" data-bs-target="#input-tab-pane" type="button" role="tab" aria-controls="input-tab-pane" aria-selected="true">Ручной ввод</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link {% if tab_index == "1" %} active {% endif %}" id="import-tab" data-bs-toggle="tab" data-bs-target="#import-tab-pane" type="button" role="tab" aria-controls="import-tab-pane" aria-selected="false">Импорт</button>
                  </li>
                  <li class="nav-item" role="presentation">
                    <button class="nav-link {% if tab_index == "2" %} active {% endif %}" id="export-tab" data-bs-toggle="tab" data-bs-target="#export-tab-pane" type="button" role="tab" aria-controls="export-tab-pane" aria-selected="false">Экспорт</button>
                  </li>
                </ul>
              </div>

              <div class="card-body">
                <div class="tab-content" id="myTabContent">
                  <div class="tab-pane fade {% if tab_index == "0" %} show active {% endif %}" id="input-tab-pane" role="tabpanel" aria-labelledby="input-tab" tabindex="0">
                    <!-- Ручной ввод -->
                    <!-- TODO Ручной ввод -->
                     <!--div style="height: 200px;"></div-->
                  </div>
                  
                  <div class="tab-pane fade {% if tab_index == "1" %} show active {% endif %}" id="import-tab-pane" role="tabpanel" aria-labelledby="import-tab" tabindex="0">
                    <!-- Импорт -->
                    <form class="needs-validation" action="{% url 'upload' %}" method="post" enctype="multipart/form-data">
                      <!-- Говорим чтобы Django занялся безопасность запроса из формы (Cross Site Request Forgeries) -->
                      {% csrf_token %}

                      <div class="mb-3">
                        <input name="title" class="form-control" type="text" placeholder="Имя файла на сервере" aria-label="default input example" />
                      </div>

                      <div class="mb-3">
                        <!-- label for="formFile" class="form-label">Default file input example</label -->
                        <input name="file" class="form-control" type="file" id="formFile" required />
                      </div>

                      <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-danger">Импорт</button>
                      </div>
                    </form>
                  </div>

                  <div class="tab-pane fade {% if tab_index == "2" %} show active {% endif %}" id="export-tab-pane" role="tabpanel" aria-labelledby="export-tab" tabindex="0">
                    <!-- Экспорт -->
                    <ul class="list-group">
                      {% if files %}
                        {% for file in files %}
                          <li class="list-group-item list-group-item-action px-2 d-flex justify-content-between align-items-start">
                            <div class="text-start text-truncate flex-fill">{{ file.title }}</div>
                            <div class="me-2">{{ file.created_at | date:"Y.m.d H:i" }}</div>
                            <a href="{% url 'download' file.filename %}" class="btn btn-sm btn-dark" role="button">🔗</a>
                          </li>
                        {% endfor %}
                      {% else %}
                        <li class="list-group-item list-group-item-warning">Файлов нет</li>
                      {% endif %}
                    </ul>
                  </div>
                </div>
              </div>
           
              <div class="card-footer py-0">
                <!-- сообщения (об ошибках и другие) -->
                {% if messages %}
                  <!-- перебираем сообщения -->
                  {% for message in messages %}
                    <div class="mt-3 alert alert-dismissible fade show {% if message.tags == 'error' %}
                        alert-danger
                      {% elif message.tags == 'info' %}
                        alert-info
                      {% elif message.tags == 'warning' %}
                        alert-warning
                      {% elif message.tags == 'success' %}
                        alert-success
                      {% else %}
                        alert-primary
                      {% endif %}"
                      role="alert">
                      {{ message }}
                      <button type="button" data-bs-dismiss="alert" aria-label="Close" class="btn-close"></button>
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>
